@{
    ViewData["Title"] = "Contact";
}
<p class="text-center mb-2 pt-4 pb-4">@ViewData["Title"]</p>

<div class="text-center pb-4">
    If you have any questions, concerns, or would like to reach out for a quote, feel free to contact us at
    info@DetailedCleaningCompany.com or call us at 440-555-5555. We also would be happy to help you Schedule
    an Appointment, just click <a style="color:blue;" asp-controller="Home" asp-action="AppointmentForm">here</a>. We also respond
    on our social media platforms, so feel free to reach out to us on Facebook, Twitter, or Instagram. You can
    find these links at the bottom of the page, or by using the navbar at the top of the page.
</div>
