@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <p class="text-center mb-2 pt-4 pb-4">SCHEDULE A CLEANING TODAY, GET A FREE QUOTE!</p>
    <div style="text-align:center;" class="index-nav-label p-2">
        <label class="ps-5 pt-1 pe-3">Schedule an appointment</label>
        <button class="custom-nav-button p-1">Schedule</button>
    </div>
    <div class="container-fluid row row-cols-1 row-cols-sm-6 justify-content-center m-0 p-0 mt-2 pt-2 mb-4 pb-4">
        <div class="col container-fluid card p-0 m-0 me-4 ms-4 mb-3">
            <img class="img-fluid" src="~/images/Carpet-Cleaning.png" />
            <div class="card-heading p-3">Carpet Cleaning</div>
            <div class="p-3">We specialize in revitalizing your carpets, ensuring they look and feel their best. Whether it’s your home, office, or commercial space, our friendly team delivers top-quality results.</div>
        </div>
        <div class="col container-fluid card p-0 m-0 me-4 ms-4 mb-3">
            <img class="img-fluid" src="~/images/In-Out-Cleaning.png" />
            <div class="card-heading p-3">In & Out Cleaning</div>
            <div class="p-3">We excel in detailed move in and out cleanings. We will ensure that your space is immaculate and welcoming, whether you are just moving into or preparing to move out.</div>
        </div>
        <div class="col container-fluid card p-0 m-0 me-4 ms-4 mb-3">
            <img class="img-fluid" src="~/images/Furniture-Cleaning.png" />
            <div class="card-heading p-3">Furniture Cleaning</div>
            <div class="p-3">Our team is skilled in cleaning all types of furniture. We make use of the best industry products and standard techniques that will ensure your furniture looks & feels brand new.</div>
        </div>
    </div>
</div>
